@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-link {
    margin-right: 25px; /* Add right margin to create space between links */
    padding: 5px 13px; 
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: color 0.1s ease, border-bottom 0.1s ; /* Add transition for smooth effect */
    }

    .nav-link:hover {
        color: purple; /* Change the text color to purple on hover */
        border-bottom: 1px solid purple; /* Add a purple underline on hover */
    }
   
      